doctype html
html
  head
    title Вход
  body
    h1 Вход
    if error
      p.error= error
    form(action="/sessions" method="post")
      div
        label Имя пользователя
          input(type="text" name="username" required)
      div
        label Пароль
          input(type="password" name="password" required)
      div
        input(type="submit" value="Войти")